{% extends '::index.html.twig' %}
{% set pageTitle = 'history'|trans %}
{% set pageSubtitle = 'index'|trans %}

{% block contentBody %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Page</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Revision</th>
                <th>User</th>
                <th>Datetime</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td data-role-th="Actions">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" href="{{ path('MesdHelpWikiBundle_history_show', { 'id': entity.id }) }}" title="view historical page">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                </td>
                <td data-role-th="Page" title="view page"><a href="{{ path('MesdHelpWikiBundle_page_show', { 'slug': entity.page.slug }) }}">{{ entity.page }}</a></td>
                <td data-role-th="Title">{{ entity.title }}</td>
                <td data-role-th="Slug">{{ entity.slug }}</td>
                <td data-role-th="Revision">{{ entity.revision }}</td>
                <td data-role-th="User" title="view page history by user"><a href="{{ path('MesdHelpWikiBundle_history_user', { 'id': entity.user.id }) }}">{{ entity.user }}</a></td>
                <td data-role-th="Date/Time">{% if entity.dateTime %}{{ entity.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock contentBody %}

{% block sidebarInner %}
<nav>
    <ul class="nav">
        <li>
            <a href="{{ path('MesdHelpWikiBundle_toc') }}" title="{{ 'table.of.contents'|trans }}">
                <span class="sidebar-item-icon fa fa-files-o"></span>
                <span class="sidebar-item-label">{{ 't.o.c'|trans }}</span>
            </a>
        </li>
        {% if is_granted('MANAGE', menu) %}
            <li>
                <a href="{{ path('MesdHelpWikiBundle_tag_index') }}" title="{{ 'manage.tags'|trans }}">
                    <span class="sidebar-item-icon fa fa-tags"></span>
                    <span class="sidebar-item-label">{{ 'tags'|trans }}</span>
                </a>
             </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_comment_index') }}" title="{{ 'moderate.comments'|trans }}">
                    <span class="sidebar-item-icon fa fa-comments-o"></span>
                    <span class="sidebar-item-label">{{ 'comments'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_link_index') }}" title="{{ 'manage.links'|trans }}">
                    <span class="sidebar-item-icon fa fa-link"></span>
                    <span class="sidebar-item-label">{{ 'links'|trans }}</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ path('MesdHelpWikiBundle_history_index') }}" title="{{ 'view.restore.history'|trans }}">
                    <span class="sidebar-item-icon fa fa-clock-o"></span>
                    <span class="sidebar-item-label">{{ 'history'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_permission_index') }}" title="{{ 'permissions'|trans }}">
                    <span class="sidebar-item-icon fa fa-ban"></span>
                    <span class="sidebar-item-label">{{ 'permissions'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_pagepermission_index') }}" title="{{ 'page.permissions'|trans }}">
                    <span class="sidebar-item-icon fa fa-lock"></span>
                    <span class="sidebar-item-label">{{ 'page.permissions'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <div id="sidebar-toggle" class="sidebar-item-toggle" title="toggle.sidebar" style="">
            <span class="fa fa-chevron-circle-left"></span>
        </div>
    </ul>
</nav>
{% endblock sidebarInner %}
