{% extends 'MesdHelpWikiBundle:Default:index.html.twig' %}
{% set subtitle = 'Edit ' ~ entity.shortName ~ ' Permission Type' %}

{% block contentBody %}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="row">
        <div class="form-group col-sm-2-12">
            <label for="permissionTypeId">ID</label>
            <div class="form-control">
                <em class="text-muted">{{ entity.id }}</em>
            </div>
        </div>

        <div class="form-group col-sm-3-12">
            {{ form_label(edit_form.shortName, 'Short Name') }}
            {{ form_errors(edit_form.shortName) }}
            {{ form_widget(edit_form.shortName, { 'attr': {
                'class': 'form-control',
                'placeholder': 'Short Name',
                'tabindex': 1,
            } }) }}
        </div>

        <div class="form-group col-sm-7-12">
            {{ form_label(edit_form.longName, 'Long Name') }}
            {{ form_errors(edit_form.longName) }}
            {{ form_widget(edit_form.longName, { 'attr': {
                'class': 'form-control',
                'placeholder': 'Long Name',
                'tabindex': 2,
            } }) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12-12">
            {{ form_label(edit_form.description, 'Description') }}
            {{ form_errors(edit_form.description) }}
            {{ form_widget(edit_form.description, { 'attr': {
                'class': 'form-control',
                'placeholder': 'Permission Description',
                'tabindex': 3,
            } }) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-2-12 col-sm-offset-10">
            {{ form_widget(edit_form.submit, { 'attr': {
                'class': 'form-control btn btn-default',
                'tabindex': 4,
            } }) }}
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock contentBody %}

{% block toolbarBottomContent %}
    {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit, { 'attr': {
            'class': 'btn btn-danger btn-xs',
            'tabindex': 5,
        } })|raw }}
        <a href="{{ path('permissiontype_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default pull-right">
            <span class="fa fa-search"></span>
            View
        </a>
    {{ form_end(delete_form) }}
{% endblock toolbarBottomContent %}