{% extends 'MESDHelpWikiBundle:Default:index.html.twig' %}
{% set subtitle = entity.shortName ~ ' Permission Type' %}

{% block main %}
    <p class="lead">
        <span class="label label-default">{{ entity.id }}</span>
        {{ entity.longName }}
    </p>

    <p>{{ entity.description|nl2br }}</p>
{% endblock main %}

{% block toolbarBottomContent %}
    {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit, { 'attr': {
            'class': 'btn btn-danger btn-xs',
            'tabindex': 5,
        } }) }}
        <a href="{{ path('permissiontype_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default pull-right">
            <span class="fa fa-pencil"></span>
            Edit
        </a>
    {{ form_end(delete_form) }}
{% endblock toolbarBottomContent %}