{% extends 'MesdHelpWikiBundle:Default:index.html.twig' %}
{% set subtitle = 'new.page'|trans %}

{% block contentBody %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="form-group col-sm-1-1">
                {{ form_label(form.title, 'title'|trans) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, { 'attr': {
                    'class': 'form-control',
                    'placeholder': 'title'|trans,
                    'tabindex': 1,
                } }) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-1-1">
                {{ form_label(form.slug, 'slug'|trans) }}
                {{ form_errors(form.slug) }}
                {{ form_widget(form.slug, { 'attr': {
                    'class': 'form-control',
                    'placeholder': 'slug'|trans,
                    'tabindex': 1,
                } }) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-1-1">
                {{ form_label(form.body, 'body'|trans) }}
                {{ form_errors(form.body) }}
                {{ form_widget(form.body) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-1-1">
                {{ form_label(form.parent, 'parent.page'|trans) }}
                {{ form_errors(form.parent) }}
                {{ form_widget(form.parent, {
                    'empty_value' : 'choose.parent.page'|trans,
                    'attr': {
                        'class': 'form-control',
                        'tabindex': 1,
                    }
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-1-6 col-sm-offset-5-6">
                {{ form_widget(form.save, { 'attr': {
                    'class': 'form-control btn btn-default',
                    'label': 'create'|trans,
                    'tabindex': 4,
                } }) }}
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock contentBody %}
