{% extends '::index.html.twig' %}
{% set pageTitle = entity.title %}

{% block contentBody %}

    {{ entity.body|raw }}

    <section class="page-detail text-right" id ="page-detail">
        <em>
            <small>
                Updated by <strong>{{ entity.user }}</strong> on <strong>{{ entity.dateTime|date('Y-m-d h:i a') }}</strong>.
                Revision <strong>{{ entity.revision }}</strong>; Chapter <strong>{{ entity.parent }}</strong>; Page <strong>{{ entity.printOrder }}</strong>.
            </small>
        </em>
    </section>
    <hr />
    <section class="comments" id="comments">
        <div class="comments-list" id="comments-list">
            {{ render(controller('MesdHelpWikiBundle:Comment:indexByPage', {
                'pageId': entity.id
            })) }}
        </div>
        <hr />
        <div class="comments-form" id="comments-form">
            {{ render(controller('MesdHelpWikiBundle:Comment:new', {
                'pageId': entity.id
            })) }}
        </div>
    </section>

{% endblock contentBody %}

{% block toolbarTopRightContent %}
    <div class="btn-group pull-right">
        <a href="#" class="btn btn-xs btn-default">
            <span class="fa fa-search"></span>
            Detail
        </a>
        <a href="{{ path('history_page', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
            <span class="fa fa-clock-o"></span>
            History
        </a>
        <a href="{{ path('page_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
            <span class="fa fa-pencil"></span>
            Edit
        </a>
    </div>
{% endblock toolbarTopRightContent %}

{% block toolbarBottomContent %}
    <div class="row hidden-xs">
        <div class="col-sm-1-12-3 text-left">
            <a href="#" class="btn btn-default btn-xs"><span class="fa fa-arrow-circle-left"></span> Prev</a>
        </div>
        <div class="col-sm-1-12-3 text-center">
            <a href="#" class="btn btn-default btn-xs"><span class="fa fa-arrow-circle-up"></span> Up</a>
        </div>
        <div class="col-sm-1-12-3 text-right">
            <a href="#" title="" class="btn btn-default btn-xs">Next <span class="fa fa-arrow-circle-right"></span></a>
        </div>
    </div>
    <div class="btn-group btn-group-justified visible-xs">
        <a href="#" class="btn btn-default btn-xs" title="Previous"><span class="fa fa-arrow-circle-left"></span></a>
        <a href="#" class="btn btn-default btn-xs" title="Up"><span class="fa fa-arrow-circle-up"></span></a>
        <a href="" title="" class="btn btn-default btn-xs" title="Next"><span class="fa fa-arrow-circle-right"></span></a>
    </div>
{% endblock toolbarBottomContent %}

{% block sidebarInner %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ render(controller('MesdPresentationBundle:Default:sidebar',
            { 'route': app.request.get('_route'),
              'options': { 'type': '' },
              'menu': {
                'Pages': {
                    'text': 'pages'|trans,
                    'path': path('page'),
                    'title': 'Help Wiki Pages',
                    'icon': 'fa-files-o'
                },
                'Comments': {
                    'text': 'comments'|trans,
                    'path': path('comment'),
                    'title': 'Help Wiki Comments',
                    'icon': 'fa-comments-o'
                },
                'Links': {
                    'text': 'links'|trans,
                    'path': path('link'),
                    'title': 'Help Wiki Links',
                    'icon': 'fa-link'
                },
                'History': {
                    'text': 'history'|trans,
                    'path': path('history'),
                    'title': 'Help Wiki History',
                    'icon': 'fa-clock-o'
                },
                'Permissions': {
                    'text': 'permissions'|trans,
                    'path': path('permission'),
                    'title': 'Help Wiki Permissions',
                    'icon': 'fa-ban'
                },
                'Permission Types': {
                    'text': 'types'|trans,
                    'path': path('permissiontype'),
                    'title': 'Help Wiki Permission Types',
                    'icon': 'fa-tags'
                },
            }
        })) }}
    {% else %}
        {{ render(controller('MesdPresentationBundle:Default:sidebar',
            { 'route': app.request.get('_route'),
              'options': { 'type': '' },
              'menu': {
                'Table of Contents': {
                    'text':   't.o.c'|trans,
                    'path':   path('page'),
                    'title':  'Help Wiki Table of Contents',
                    'icon':   'fa-files-o',
                    'active': true
                },
            }
        })) }}
    {% endif %}
{% endblock sidebarInner %}