{% extends 'MesdHelpWikiBundle:Default:index.html.twig' %}

{% block contentBody %}
{{ entity.body|raw }}
{% endblock contentBody %}

{% block contentFooter %}
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="collapseExample">{{ 'comments'|trans }}</button>
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#page-detail" aria-expanded="false" aria-controls="collapseExample">{{ 'page.details'|trans }}</button>
    
    <section id ="page-detail" class="page-detail collapse alert alert-info text-align-left">
        <strong>{{ 'page.details'|trans }}</strong>
        <dl class="dl-horizontal">
            <dt>{{ 'last.updated'|trans }}</dt>
            <dd>{{ entity.dateTime|date('m/d/Y') ~ ' at ' ~ entity.dateTime|date('h:i a') }}</dd>
            <dt>{{ 'updated.by'|trans }}</dt>
            <dd>{{ entity.user }}</dd>
            <dt>{{ 'revision'|trans }}</dt>
            <dd>{{ entity.revision }}</dd>
            <dt>{{ 'chapter.page'|trans }}</dt>
            <dd>{{ entity.parent }}</dd>
            <dt>{{ 'page.number'|trans }}</dt>
            <dd>{{ entity.printOrder }}</dd>
        </dl>
    </section>
    <section id="comments" class="comments collapse text-align-left">
        <div class="comments-list" id="comments-list">
            {{ render(controller('MesdHelpWikiBundle:Comment:indexByPage', {
                'pageId': entity.id
            })) }}
        </div>
        <hr />
        <div class="comments-form" id="comments-form">
            {{ render(controller('MesdHelpWikiBundle:Comment:new', {
                'pageId': entity.id
            })) }}
        </div>
    </section>

{% endblock contentFooter %}

{% block toolbarTopRightContent %}
    <div class="btn-group pull-right">
        <a href="#" class="btn btn-xs btn-default">
            <span class="fa fa-search"></span>&nbsp; {{ 'detail'|trans }}
        </a>
        <a href="{{ path('history_page', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
            <span class="fa fa-clock-o"></span>&nbsp; {{ 'history'|trans }}
        </a>
        <a href="{{ path('page_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
            <span class="fa fa-pencil"></span>&nbsp; {{ 'edit'|trans }}
        </a>
    </div>
{% endblock toolbarTopRightContent %}

{% block toolbarBottomContent %}
    <div class="row hidden-xs">
        <div class="col-sm-1-12-3 text-left">
            <a href="#" class="btn btn-default btn-xs"><span class="fa fa-arrow-circle-left"></span>&nbsp; {{ 'previous'|trans }}</a>
        </div>
        <div class="col-sm-1-12-3 text-center">
            <a href="#" class="btn btn-default btn-xs"><span class="fa fa-arrow-circle-up"></span>&nbsp; {{ 'up'|trans }}</a>
        </div>
        <div class="col-sm-1-12-3 text-right">
            <a href="#" title="" class="btn btn-default btn-xs">{{ 'next'|trans }} &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
        </div>
    </div>
    <div class="btn-group btn-group-justified visible-xs">
        <a href="#" class="btn btn-default btn-xs" title="{{ 'previous'|trans }}"><span class="fa fa-arrow-circle-left"></span></a>
        <a href="#" class="btn btn-default btn-xs" title="{{ 'up'|trans }}"><span class="fa fa-arrow-circle-up"></span></a>
        <a href="" title="" class="btn btn-default btn-xs" title="{{ 'next'|trans }}"><span class="fa fa-arrow-circle-right"></span></a>
    </div>
{% endblock toolbarBottomContent %}