{# src/Mesd/HelpWikiBundle/Resources/views/Comment/form.html.twig #}
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="form-group col-sm-12-12">
            {{ form_label(form.body, 'comment'|trans) }}
            {{ form_errors(form.body) }}
            {{ form_widget(form.body, { 'attr': {
                'class': 'form-control',
                'placeholder': 'add.comment'|trans,
                'tabindex': 1,
            } }) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-2-12 col-sm-offset-10">
            {{ form_widget(form.submit, { 'attr': {
                'class': 'form-control btn btn-default',
                'tabindex': 2,
            } }) }}
        </div>
    </div>

{{ form_end(form) }}