{% extends '::index.html.twig' %}
{% set pageTitle = 'link'|trans %}
{% set pageSubtitle = 'new'|trans %}

{% block contentBody %}


        <div class="row">
            <div class="col-sm-6-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'link.route.existing.page'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(new_link_form) }}
                            {{ form_errors(new_link_form) }}
                            <div class="row">
                                <div class="form-group col-sm-12-12">
                                    {{ form_label(new_link_form.routeAlias, 'Route') }}
                                    {{ form_errors(new_link_form.routeAlias) }}
                                    {{ form_widget(new_link_form.routeAlias, { 'attr': {
                                        'class':       'form-control',
                                        'placeholder': 'slug'|trans,
                                        'tabindex':    1,
                                    } }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12-12">
                                    {{ form_label(new_link_form.page, 'Page') }}
                                    {{ form_errors(new_link_form.page) }}
                                    {{ form_widget(new_link_form.page, {
                                        'empty_value' : 'choose.page'|trans,
                                        'attr': {
                                            'class':       'form-control',
                                            'placeholder': 'page.title'|trans,
                                            'tabindex':    2,
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12-12">
                                    {{ form_widget(new_link_form.submit, { 'attr': {
                                        'class':    'form-control btn btn-default',
                                        'tabindex': 3,
                                    } }) }}
                                </div>
                            </div>
                            {{ form_rest(new_link_form) }}
                        {{ form_end(new_link_form) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Link Route with New Page</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(new_page_form) }}
                            {{ form_errors(new_page_form) }}
                            <div class="row">
                                <div class="form-group col-sm-12-12">
                                    {{ form_widget(new_page_form.submit, { 'attr': {
                                            'class':    'form-control',
                                            'tabindex': 4,
                                    } }) }}
                                </div>
                            </div>
                            {{ form_rest(new_page_form) }}
                        {{ form_end(new_page_form) }}
                    </div>
                </div>
            </div>
        </div>


        <a href="{{ path('MesdHelpWikiBundle_link_index') }}">
            Back to the list
        </a>
{% endblock contentBody %}

{% block sidebarInner %}
<nav>
    <ul class="nav">
        <li>
            <a href="{{ path('MesdHelpWikiBundle_toc') }}" title="{{ 'table.of.contents'|trans }}">
                <span class="sidebar-item-icon fa fa-files-o"></span>
                <span class="sidebar-item-label">{{ 't.o.c'|trans }}</span>
            </a>
        </li>
        {% if is_granted('MANAGE', menu) %}
            <li>
                <a href="{{ path('MesdHelpWikiBundle_tag_index') }}" title="{{ 'manage.tags'|trans }}">
                    <span class="sidebar-item-icon fa fa-tags"></span>
                    <span class="sidebar-item-label">{{ 'tags'|trans }}</span>
                </a>
             </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_comment_index') }}" title="{{ 'moderate.comments'|trans }}">
                    <span class="sidebar-item-icon fa fa-comments-o"></span>
                    <span class="sidebar-item-label">{{ 'comments'|trans }}</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ path('MesdHelpWikiBundle_link_index') }}" title="{{ 'manage.links'|trans }}">
                    <span class="sidebar-item-icon fa fa-link"></span>
                    <span class="sidebar-item-label">{{ 'links'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_history_index') }}" title="{{ 'view.restore.history'|trans }}">
                    <span class="sidebar-item-icon fa fa-clock-o"></span>
                    <span class="sidebar-item-label">{{ 'history'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_permission_index') }}" title="{{ 'permissions'|trans }}">
                    <span class="sidebar-item-icon fa fa-ban"></span>
                    <span class="sidebar-item-label">{{ 'permissions'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('MesdHelpWikiBundle_pagepermission_index') }}" title="{{ 'page.permissions'|trans }}">
                    <span class="sidebar-item-icon fa fa-lock"></span>
                    <span class="sidebar-item-label">{{ 'page.permissions'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <div id="sidebar-toggle" class="sidebar-item-toggle" title="toggle.sidebar" style="">
            <span class="fa fa-chevron-circle-left"></span>
        </div>
    </ul>
</nav>
{% endblock sidebarInner %}
