{# src/Mesd/HelpWikiBundle/Resources/views/Form/fields.html.twig #}
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if icon is defined %}<span class="fa {{ icon }}"></span>{% endif %} {{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block submit_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('submit') }}" {{ block('button_attributes') }}>{% if icon is defined %}<span class="fa {{ icon }}"></span>{% endif %} {{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock submit_widget %}

{% block mesd_help_wiki_permission_type_widget %}
{% spaceless %}
    {% if expanded %}
        <ul {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {# just let the choice widget render the select tag #}
        {{ block('choice_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock mesd_help_wiki_permission_type_widget %}

{% block mesd_help_wiki_object_type_widget %}
{% spaceless %}
    {% if expanded %}
        <ul {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {# just let the choice widget render the select tag #}
        {{ block('choice_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock mesd_help_wiki_object_type_widget %}

{% block mesd_help_wiki_routealias_type_widget %}
{% spaceless %}
    {% if expanded %}
        <ul {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {# just let the choice widget render the select tag #}
        {{ block('choice_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock mesd_help_wiki_routealias_type_widget %}

{% block mesd_help_wiki_ckeditor_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'ckeditor'}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
    <script type="text/javascript" src="{{ asset('bundles/mesdhelpwiki/vendor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">{% include('MesdHelpWikiBundle:Form:config.js.twig') %}</script>
    <script type="text/javascript">{% include('MesdHelpWikiBundle:Form:styles.js.twig') %}</script>
{% endblock mesd_help_wiki_ckeditor_widget %}

{% block mesd_help_wiki_selectize_choice_widget %}
{% spaceless %}
    {% if expanded %}
        <ul {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {# just let the choice widget render the select tag #}
        {{ block('choice_widget') }}
    {% endif %}
{% endspaceless %}
    <script type="text/javascript" src="{{ asset('bundles/mesdhelpwiki/vendor/selectize/dist/selectize.js') }}"></script>
{% endblock mesd_help_wiki_selectize_choice_widget %}

{%- block mesd_help_wiki_selectize_text_widget -%}
    {%- set attr = attr|merge({'class': 'selectize'}) -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock mesd_help_wiki_selectize_text_widget -%}

{% block upload_widget %}
{% spaceless %}
    <div class="btn btn-default btn-file">
        {{ 'browse.file'|trans }} <input {{ block('widget_attributes') }} />
    </div>
{% endspaceless %}
{% endblock upload_widget %}